<!DOCTYPE html>
<html>
    <head>
        <title>Wrapper: Offline</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
                <div class="container">
                  <a class="navbar-brand" href="/">
                    <img src="/images/logo.svg" alt="" height="38">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                      <a class="nav-link" href="/features">Features</a>
                      <a class="nav-link" href="/support">Support</a>
                      <a class="nav-link" href="/faq">FAQs</a>
                      <a class="nav-link" href="/get-involved">Get Involved</a>
                      <a class="nav-link" href="/about">About</a>
                      <a class="nav-link" href="https://discord.gg/uTMwPjX44z">Discord</a>
                      <a class="btn btn-success" href="/download">Download</a>
                    </div>
                  </div>
                </div>
              </nav>
        </header>
        <section>
            <div class="container-fluid" style="background-image: url(/images/home_bg_v3.jpg); background-position: center;">
            <div class="container pt-5">
                <h1 class="d-flex justify-content-center" style="text-shadow: 0 0 20px #fff;"><strong>Anyone Can Animate!</strong></h1>
                <h5 class="d-flex justify-content-center" style="text-shadow: 0 0 20px #fff;">Wrapper: Offline is a free & open-source revival of Vyond's Legacy Video Maker.</h5>
                <div class="text-center mt-3">
                    <a class="btn btn-success" href="/download">Get Wrapper: Offline!</a>
                    <a class="btn btn-primary" href="/features">Features</a>
                    <a class="btn btn-primary" href="/get-involved">Get Involved</a>
                </div>
                <div class="text-center mt-3 pb-5">
                    <img src="/images/homemac2.png" alt="" height="275px">
                </div>
            </div>
        </div>
        </section>
    </body>
</html>